body {
  box-sizing: border-box;
  max-width: 1920px;
  width: 100%;
  background-color: var(--color1);
  padding: 46px 230px 240px;
  margin: 0 auto;
}
:root {
  --color1: #171717;
  --color2: #e4b564;
  --color3: #fff;
  --color4: #634f2c;
  --color5: #b4a385;
  --color6: #635a4a;
  --color7: #b08c4d;
  --color8: #0e0e0e;
  --color9: #242424;
  --color10: #1f1f1f;
  --color11: #0a0909;
  --color12: rgba(232, 210, 171, 0.76);
}
.color1 {
  background-color: var(--color1);
}
.color2 {
  background-color: var(--color2);
}
.color3 {
  background-color: var(--color3);
}
.color4 {
  background-color: var(--color4);
}
.color5 {
  background-color: var(--color5);
}
.color6 {
  background-color: var(--color6);
}
.color7 {
  background-color: var(--color7);
}
.color8 {
  background-color: var(--color8);
}
.color9 {
  background-color: var(--color9);
}
.color10 {
  background-color: var(--color10);
}
.color11 {
  background-color: var(--color11);
}
.color12 {
  background-color: var(--color12);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 128px;
}
.logo {
  display: block;
  width: 100%;
  max-width: 216px;
  height: 33px;
}
.first-btn {
  color: var(--color2);
  background-color: var(--color1);
  border: 1px solid var(--color2);
  font-family: Circe;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding: 0;
}
.first-btn img {
  display: block;
  max-width: 16px;
  width: 100%;
  height: 16px;
  margin-right: 8px;
}
.first-btn a {
  width: 218px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color2);
}
/* first-sectoin */
.section-first {
  color: var(--color3);
}
h1 {
  color: var(--color3);
  font-family: Gilam;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}
.section-first h1 {
  margin-bottom: 41px;
}
.section-first p {
  color: var(--color3);
  font-family: Gilam;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 41px;
}
.grid-container {
  display: grid;

  grid-template-columns: 467px 233.5px 233.5px 467px;
  grid-template-rows: repeat(2, 468px);
  gap: 19.5px;
  text-align: center;
  align-items: center;
  margin-bottom: 161px;
}

.grid-item-2,
.grid-item-4,
.grid-item-5 {
  grid-column-end: span 2;
}

.grid-container div {
  display: flex;
  font-family: Gilam;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  height: 468px;
  align-items: center;
  justify-content: center;
}
.section-second {
  height: 1372px;
}
.section-second h1 {
  margin-bottom: 94px;
}
/* second section */
.grid-container-second {
  display: grid;
  height: 897px;
  grid-template-columns: repeat(3, 467px);
  grid-template-rows: 255px 58px 126px 103px 335px 20px;
  gap: 30px;
}

.second-grid-item-2,
.second-grid-item-5 {
  grid-row-end: span 3;
}

.second-grid-item-4 {
  grid-row-start: 3;
  grid-row-end: span 4;
}

.second-grid-item-1,
.second-grid-item-6,
.second-grid-item-7 {
  grid-row-end: span 2;
}
.grid-container-second div {
  display: flex;
  flex-direction: column;
  padding: 44px 0 0 52px;
  color: var(--color3);
  font-family: Gilam;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.grid-container-second div span {
  font-weight: 700;
}
/* third section */
.header-container-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 61px;
}
.second-btn {
  color: var(--color2);
  border: 1px solid var(--color2);
  background-color: var(--color1);
  font-family: Circe;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  padding: 0;
}
.second-btn a {
  width: 180px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color2);
}

.grid-container-third {
  display: grid;
  height: 782px;
  grid-template-columns: repeat(3, 487px);
  grid-template-rows: repeat(2, 391px);
}
.grid-container-third img {
  display: block;
}
.grid-container-third div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.third-grid-item-2 p {
  color: var(--color3);
  text-align: center;
  font-family: Gilam;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  margin: 0 80px 0 80px;
}
.third-grid-item-2 p span {
  color: var(--color3);
  text-align: center;
  font-family: Gilam;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
.image2 {
  margin-bottom: 16px;
}
